<div style=" padding-bottom: 20px">
<div class="row" style="max-width: 90%; display: block; margin: 0 auto;">
	<div class="col-md-3">
		<div class="panel-body" style="border: 0">
			<%= image_tag "hamster.png", style: "max-width: 90%; display: block; margin: 0 auto" %>
		</div>
	</div>

	<style>
		pre {
			background-color: transparent;
			border: none;
			padding: 0;
			margin: 3px;
		}

		.panel-body {
			padding: 0;
			margin-top: 20px;
		}
	</style>

	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div style="margin-top: 10px;"></div>
				<pre style="float: left;"><h4>姓名 | <%= current_user.username %></h4></pre>
				<%= image_tag "兒童教育議題.png", :style => "max-width: 40px; margin-left: 20px" %>
				<!-- 
				<%= image_tag "憲政體制議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "生活健康議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "社會參與超人徽章.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "累積參與達到50次徽章.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "觀光產業議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "醫療衛生議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "金融稅收議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				 -->	
				<%= image_tag "laba01.png", :style => "max-width: 40px; margin-left: 20px" %> 82
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<pre style="float: left"><h4>榮譽稱謂 ｜ 榮譽市議員   社會參與等級 | 78   </h4></pre>
				<div class="progress" style="margin: 13px;">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<%= image_tag "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1933371_1286144784734323_8507430643831508329_o.jpg", :style => "max-height: 100px;" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel-body" style="background-color: rgba(134,182,218,0.5); border: 0px; border-radius: 3px; padding: 5px">HERE IS THE INTRODUCTION</div>
			</div>
		</div>

	</div>
</div>

</div>

<div class="row">
	<div class="col-md-12" style="max-width: 90%; left: 50%; transform: translate(-50%, 0);">
				<div style="margin-top: 20px;"></div>
				<div id="some-content">
					<div id="wrapper">
						<div id="list" style="-webkit-column-count: 4;-moz-column-count: 4;column-count: 4;">
							<%= render 'common/sample' %>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<style>
	.modal-header {
		border: 5px;
	}

	.modal-body {
		padding: 0;
	}

	.modal-footer {
		border-top: none;
	}

	.img_container  img {
		display: inline;
		margin: 0px;
		width: 100%;
	}

	.bootstrap-dialog-footer-buttons {
		padding: 15px;
	}

	.img_container {
		padding: 0px;
	}
</style>

