<div class="row" style="max-width: 90%; display: block; margin: 0 auto;">
	<div class="col-md-3">
		<%= image_tag "hamster.png", style: "max-width: 90%; display: block; margin: 0 auto" %>
	</div>

	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<h4 style="float: left;">姓名 | <%= current_user.username %></h4>
				<%= image_tag "兒童教育議題.png", :style => "max-width: 40px; margin-left: 20px" %>
				<%= image_tag "憲政體制議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "生活健康議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "社會參與超人徽章.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "累積參與達到50次徽章.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "觀光產業議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "醫療衛生議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<%= image_tag "金融稅收議題.png", :style => "max-width: 40px; margin-left: 10px" %>
				<h4>榮譽稱謂 ｜ </h4>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>

		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</div>
</div>