<div class="navbar-custom navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-home"><span class="glyphicon glyphicon-stat"></span> 伍拾萬論壇</a>
		</div>
		
		<div class="navbar-right">
			<ul>
				<li><%= html_icon("apple") %> <%= link_to " Some link", "#" %></li>
				<li><%= html_icon("tag") %> <%= link_to " Some link", "#" %></li>
				<li><%= html_icon("console") %> <%= link_to " Some link", "#" %></li>
			</ul>
		</div>
	</div>
</div>
<div style="margin-top: 65px"></div>