<% Article.all.each do |article| %>
	<div class="item">
		<%= link_to (image_tag article.url, :style => "max-width: 95%; display: block; margin: 0 auto"), "#", article: "#{article.id}" %>
		<hr>
		<p><%= article.tag %></p>
		<h3><%= article.title %></h3>
		<h5><%= article.secondary_title %></h5>
		<!-- <p><%= article.content %></p> -->
	</div>
<% end %>